/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #3597ff;
  --color-primary-light:#FF3366;
  --color-primary-dark:#BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark:0 2rem 6rem rgba(0, 0,0,.3);
  --shadow-light: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-grey-light-1), var(--color-grey-light-4));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 170vh;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  -webkit-box-shadow: 0px 5px 12px 10px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 12px 10px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 12px 10px rgba(34, 60, 80, 0.2);
  min-height: 139rem;
}

.header {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  padding: 0 15rem;
  align-items: center;
  height: 8rem;
  background-color: #fff;
  z-index: 10;
  -webkit-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.22);
}
.header__logo {
  display: flex;
}
.header__logo--bold {
  margin-right: 0.5rem;
  color: var(--color-primary);
}
.header__logo--simp {
  font-weight: 400;
  color: var(--color-grey-dark-3);
}

/*display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;*/
.footer {
  background-color: var(--color-grey-dark-2);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer__text {
  margin: 1rem 0rem;
  color: var(--color-grey-light-2);
  font-size: 1.4rem;
  font-weight: 600;
}
.footer__text--link {
  color: var(--color-grey-light-2);
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  transition: 1s;
}
.footer__text--link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.user-nav {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.user-nav__item {
  display: inline-block;
}
.user-nav__item__button {
  cursor: pointer;
  color: var(--color-grey-dark-2);
  font-size: 1.6rem;
  padding: 1rem 1rem;
}
.user-nav__item__button:hover {
  color: #fff;
  background: var(--color-primary);
  padding: 1rem 1rem;
  border-radius: 3px;
}
.user-nav__item__button--active {
  color: #fff;
  background: var(--color-primary);
  padding: 1rem 1rem;
  border-radius: 3px;
}
.user-nav__item__button, .user-nav__item__button--active {
  text-decoration: none;
}

.view {
  display: flex;
  justify-content: center;
  background-image: url("../img/view.png");
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
  width: 120rem;
  height: 60rem;
}
.view__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
}
.view__block__button {
  margin-top: 3rem;
  font-weight: 700;
  padding: 0.5rem 5rem;
  text-decoration: none;
  font-size: 3rem;
  color: white;
  background: linear-gradient(to bottom, #92d061, #6bae37);
  border-radius: 5px;
  transition: 0.5s;
}
.view__block__button:hover {
  -webkit-box-shadow: 0px 5px 12px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 12px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 12px 8px rgba(0, 0, 0, 0.2);
}
.view__block__h--b, .view__block__h--s {
  margin: 0;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 4.5rem;
}
.view__block__h--b {
  font-weight: 600;
}
.view__block__h--s {
  font-weight: 300;
}

svg {
  width: 10rem;
  height: 10rem;
  fill: var(--color-primary);
}

.img__item {
  width: 12rem;
  height: 8rem;
  display: block;
}

.link__item {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--color-grey-dark-3);
  transition: 1s;
}
.link__item:hover {
  color: var(--color-primary);
}

.main-view {
  background-color: var(--color-grey-light-3);
}
.main-view__grid {
  width: 75rem;
  min-height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: -12rem;
  position: relative;
  background: #fff;
  border-radius: 1rem;
  border-bottom: 1rem solid #92d061;
  padding: 2rem;
  padding-bottom: 3rem;
}
.main-view__grid__container {
  display: grid;
  max-height: inherit;
  grid-template-rows: repeat(2, 8rem);
  grid-template-columns: repeat(5, 12rem);
  grid-gap: 3rem;
  margin: 0 auto;
}
.main-view__grid__container__item {
  margin: 0;
  padding: 0;
  transition: 0.8s;
}
.main-view__grid__container__item:hover {
  box-shadow: var(--shadow-light);
}
.main-view__grid--head {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--color-grey-dark-3);
}
.main-view__overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 120rem;
  height: 50rem;
}
.main-view__overview__text {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--color-grey-dark-3);
}
.main-view__overview__text--1, .main-view__overview__text--2 {
  font-weight: 300;
  margin: 0 auto;
}
.main-view__overview__about {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-view__overview__about__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-view__overview__about__icons--text {
  font-size: 1.6rem;
  color: var(--color-grey-dark-2);
}
.main-view__overview__about__icons--circle {
  width: 12rem;
  height: 12rem;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
}
.main-view__overview__about__icons--circle:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.main-view__overview__about__icons:not(:last-child) {
  margin-right: 8rem;
}

/*# sourceMappingURL=style.css.map */
