.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    //box-shadow: var(--shadow-dark);
    -webkit-box-shadow: 0px 5px 12px 10px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 12px 10px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 12px 10px rgba(34, 60, 80, 0.2);

    min-height: 139rem;
    //max-height: 200rem;
}
.header{
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    padding: 0 15rem;
    align-items: center;
    
    height: 8rem;
    background-color: #fff;
    
    &__logo{
        display: flex;
        //padding: 2rem;
        &--bold{
            margin-right: 0.5rem;
            color: var(--color-primary);
        }
        &--simp{
            font-weight: 400;
            color: var(--color-grey-dark-3);
        }
    }
    z-index: 10;
    -webkit-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.22);
    
}
//.navigation{
    /*display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;*/
//}
.footer{
    background-color: var(--color-grey-dark-2);
    //position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__text{
        margin: 1rem 0rem;
        color: var(--color-grey-light-2);
        font-size: 1.4rem;
        font-weight: 600;
        &--link{
            color: var(--color-grey-light-2);
            font-size: 1.4rem;
            font-weight: 600;
            text-decoration: none;
            transition: 1s;
            &:hover{
                text-decoration: underline;
                color: var(--color-primary);
            }
        }
    }
}